$primary:       #76d6ca;
$secondary:     #416dac;
$accent:        #FC4A1A;
$muted:         #dddddd;

$white:         #FFFFFF;
$grey-light:    #cccccc;
$grey:          #aaaaaa;
$grey-dark:     #666666;
$black:         #111111;