$primary:       darken(#76d6ca, 10%);
$secondary:     #416dac;
$accent:        #FC4A1A;
$muted:         #dddddd;
$warning:       rgb(241, 210, 55);

$white:         #FFFFFF;
$grey-light:    #cccccc;
$grey:          #aaaaaa;
$grey-dark:     #666666;
$black:         #222222;