@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900|Material+Icons');

body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    line-height: 1.2rem;
}

h2 {
    font-size: 1.6rem;
    line-height: 1.2rem;
}

h3 {
    font-size: 1.2rem;
    line-height: 1.4rem;
}

h4 {
    font-size: 1.1rem;
    line-height: 1.4rem;
}

h5 {
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.4rem;
    text-transform: uppercase;
}

p {
    line-height: 1.4rem;
}

p + p {
    margin-top: 1rem;
}