.button {
    align-items: center;
    background: $primary;
    border-radius: 3px;
    color: $white;
    display: flex;
    padding: .5rem .75rem;
    transition: all .3s;

    img, .material-icons {
        margin-right: .5rem;
    }

    &:hover {
        background: lighten($primary, 5%);
    }
}