.cards {
    padding: 1rem;

    .card {
        @extend .box-shadow--close;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
        transition: all .3s;

        &:hover {
            @extend .box-shadow;
        }

        svg {
            height: 12px;
            width: 12px;
        }

        .active {
            fill: red;
        }

        &--large {
            min-width: 600px    ;
        }

        &__body {
            color: $black;
            display: block;
            padding: 1rem;
        }

        &__footer {
            border-top: 1px solid $muted;
            padding: .5rem 1rem;
        }

        &--green {
            background: lighten($primary, 35%);
            border-color: $primary;

            .card__footer {
                border-color: $primary;
            }
        }
    }

}