.dropdown {
    position: relative;

    &__label {
        align-items: center;
        cursor: pointer;
        display: flex;
        padding: 1rem;
        transition: all .3s;

        img, .material-icons {
            margin-right: .5rem;
        }

        &:hover {
            background: rgba(255, 255, 255, .1);
        }

        &::after {
            content: 'arrow_drop_down';
            font-family: 'Material Icons';
        }
    }

    &__menu {
        @extend .box-shadow--far;
        background: $white;
        border: 1px solid $muted;
        border-radius: 3px;
        position: absolute;
        top: 4.25rem;
        right: 0;
        z-index: 9999;
    }

    &__menu-item {
        align-items: center;
        color: $black;
        display: flex;
        padding: .75rem 1.25rem;
        width: 200px;

        &:hover {
            text-decoration: none;
        }

        img, .material-icons {
            margin-right: .5rem;
        }

        + .dropdown__menu-item {
            border-top: 1px solid $muted;
        }
    }
}