table {
    border: 1px solid $muted;
    width: 100%;

    thead {
        background: $secondary;
        color: $white;
    }

    tr:nth-child(even) {
        background: lighten($muted, 8%);
    }

    th, td {
        padding: .5rem;
        text-align: left;
        vertical-align: middle;
    }
}