@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900|Material+Icons);/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.slide-down-enter-active {
  -webkit-animation: slide-down .15s linear;
          animation: slide-down .15s linear;
}

.slide-down-leave-active {
  animation: slide-down .15s linear reverse;
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

[v-cloak] {
  display: none;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content--primary {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.content--secondary {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 3rem;
}

.box-shadow {
  -webkit-box-shadow: 0px 10px 13px -7px rgba(50, 50, 50, 0.7);
          box-shadow: 0px 10px 13px -7px rgba(50, 50, 50, 0.7);
}

.box-shadow--far,
.dropdown__menu {
  -webkit-box-shadow: 0px 15px 13px -7px rgba(50, 50, 50, 0.7);
          box-shadow: 0px 15px 13px -7px rgba(50, 50, 50, 0.7);
}

.box-shadow--close {
  -webkit-box-shadow: 0px 5px 13px -7px rgba(50, 50, 50, 0.7);
          box-shadow: 0px 5px 13px -7px rgba(50, 50, 50, 0.7);
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.avatar,
.avatar--sm,
.avatar--xs {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.avatar--sm {
  height: 30px;
  width: 30px;
}

.avatar--xs {
  height: 20px;
  width: 20px;
}

.button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #4fcabb;
  border-radius: 3px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem .75rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.button img,
.button .material-icons {
  margin-left: .5rem;
}

.button:hover {
  background: #62d0c2;
}

.dropdown {
  position: relative;
}

.dropdown__label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.dropdown__label img,
.dropdown__label .material-icons {
  margin-left: .5rem;
}

.dropdown__label:hover {
  background: rgba(255, 255, 255, 0.1);
}

.dropdown__label::after {
  content: 'arrow_drop_down';
  font-family: 'Material Icons';
}

.dropdown__menu {
  background: #FFFFFF;
  border: 1px solid #dddddd;
  border-radius: 3px;
  position: absolute;
  top: 4.25rem;
  left: 0;
  z-index: 9999;
}

.dropdown__menu-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .75rem 1.25rem;
  width: 200px;
}

.dropdown__menu-item:hover {
  text-decoration: none;
}

.dropdown__menu-item img,
.dropdown__menu-item .material-icons {
  margin-left: .5rem;
}

.dropdown__menu-item + .dropdown__menu-item {
  border-top: 1px solid #dddddd;
}

.app-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #222222;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2rem;
}

.app-header__logo {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.app-header__menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.list__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 2rem;
}

.list__item img,
.list__item .material-icons {
  margin-left: .5rem;
}

.list__item + .list__item {
  border-top: 1px solid #dddddd;
}

.list__item--new {
  position: relative;
}

.list__item--new::before {
  content: '';
  height: 10px;
  width: 10px;
  display: block;
  background: #4fcabb;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: .75rem;
}

.list__item-tools {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.widget {
  -webkit-box-shadow: 0px 10px 13px -7px #222222;
          box-shadow: 0px 10px 13px -7px #222222;
}

.widget + .widget {
  margin-top: 3rem;
}

.widget__header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #416dac;
  border-radius: 3px 3px 0 0;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 2rem;
}

.widget__header .button {
  margin-right: auto;
}

.widget__title {
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.widget__nav {
  background: #2c4a74;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
}

.widget__nav a {
  color: #FFFFFF;
  padding: 1rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.widget__nav a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.widget__content {
  background: #FFFFFF;
  border-radius: 0 0 3px 3px;
}

main {
  background: linear-gradient(-45deg, #416dac, #4fcabb);
  min-height: 100vh;
  padding: 3rem 2rem;
}

.icon {
  -webkit-transform: scale(1.75);
          transform: scale(1.75);
}

.icon.active {
  fill: red;
}

.text-small {
  font-size: .8em;
}

.fill-white {
  fill: #ffffff;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards .card {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0 0 1rem;
}

.cards .card__footer {
  margin: auto 0 0;
  border-top: 1px solid #ccc;
}

.btn {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.d-flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.u-clickable {
  cursor: pointer;
}

.a-spin {
  -webkit-animation: spin 3s infinite linear;
          animation: spin 3s infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg) scale(1.5);
            transform: rotate(0deg) scale(1.5);
  }

  to {
    -webkit-transform: rotate(-360deg) scale(1.5);
            transform: rotate(-360deg) scale(1.5);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg) scale(1.5);
            transform: rotate(0deg) scale(1.5);
  }

  to {
    -webkit-transform: rotate(-360deg) scale(1.5);
            transform: rotate(-360deg) scale(1.5);
  }
}

@media screen and (min-width: 800px) {
  .cards .card {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    margin: 1% 0 1% 2%;
  }
}

@media screen and (min-width: 1024px) {
  .cards .card {
    -ms-flex-preferred-size: 31.33%;
        flex-basis: 31.33%;
  }
}

