@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900|Material+Icons);/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.slide-down-enter-active {
  -webkit-animation: slide-down .15s linear;
          animation: slide-down .15s linear;
}

.slide-down-leave-active {
  animation: slide-down .15s linear reverse;
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.fade-in-enter-active {
  -webkit-animation: fade-in .15s linear;
          animation: fade-in .15s linear;
}

.fade-in-leave-active {
  animation: fade-in .15s linear reverse;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

[v-cloak] {
  display: none;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content--primary {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.content--secondary {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 3rem;
}

.flex-align {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.half-and-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.half-and-half > * {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.half-and-half > * + * {
  padding-right: 4rem;
}

.m-1 {
  margin: .25rem;
}

.m-2 {
  margin: .5rem;
}

.m-3 {
  margin: .75rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.m-7 {
  margin: 1.75rem;
}

.m-8 {
  margin: 2rem;
}

.m-12 {
  margin: 3rem;
}

.m-16 {
  margin: 4rem;
}

.mx-1 {
  margin-right: .25rem;
  margin-left: .25rem;
}

.mx-2 {
  margin-right: .5rem;
  margin-left: .5rem;
}

.mx-3 {
  margin-right: .75rem;
  margin-left: .75rem;
}

.mx-4 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.mx-5 {
  margin-right: 1.25rem;
  margin-left: 1.25rem;
}

.mx-6 {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.mx-7 {
  margin-right: 1.75rem;
  margin-left: 1.75rem;
}

.mx-8 {
  margin-right: 2rem;
  margin-left: 2rem;
}

.mx-12 {
  margin-right: 3rem;
  margin-left: 3rem;
}

.mx-16 {
  margin-right: 4rem;
  margin-left: 4rem;
}

.my-1 {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.my-2 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.my-3 {
  margin-top: .75rem;
  margin-bottom: .75rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-12 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mt-1 {
  margin-top: .25rem;
}

.mt-2 {
  margin-top: .5rem;
}

.mt-3 {
  margin-top: .75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mb-1 {
  margin-bottom: .25rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mb-3 {
  margin-bottom: .75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.ml-1 {
  margin-right: .25rem;
}

.ml-2 {
  margin-right: .5rem;
}

.ml-3 {
  margin-right: .75rem;
}

.ml-4 {
  margin-right: 1rem;
}

.ml-5 {
  margin-right: 1.25rem;
}

.ml-6 {
  margin-right: 1.5rem;
}

.ml-7 {
  margin-right: 1.75rem;
}

.ml-8 {
  margin-right: 2rem;
}

.ml-12 {
  margin-right: 3rem;
}

.ml-16 {
  margin-right: 4rem;
}

.mr-1 {
  margin-left: .25rem;
}

.mr-2 {
  margin-left: .5rem;
}

.mr-3 {
  margin-left: .75rem;
}

.mr-4 {
  margin-left: 1rem;
}

.mr-5 {
  margin-left: 1.25rem;
}

.mr-6 {
  margin-left: 1.5rem;
}

.mr-7 {
  margin-left: 1.75rem;
}

.mr-8 {
  margin-left: 2rem;
}

.mr-12 {
  margin-left: 3rem;
}

.mr-16 {
  margin-left: 4rem;
}

.p-1 {
  padding: .25rem;
}

.p-2 {
  padding: .5rem;
}

.p-3 {
  padding: .75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-7 {
  padding: 1.75rem;
}

.p-8 {
  padding: 2rem;
}

.p-12 {
  padding: 3rem;
}

.p-16 {
  padding: 4rem;
}

.px-1 {
  padding-right: .25rem;
  padding-left: .25rem;
}

.px-2 {
  padding-right: .5rem;
  padding-left: .5rem;
}

.px-3 {
  padding-right: .75rem;
  padding-left: .75rem;
}

.px-4 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.px-5 {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.px-6 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.px-7 {
  padding-right: 1.75rem;
  padding-left: 1.75rem;
}

.px-8 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.px-12 {
  padding-right: 3rem;
  padding-left: 3rem;
}

.px-16 {
  padding-right: 4rem;
  padding-left: 4rem;
}

.py-1 {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.py-3 {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pt-1 {
  padding-top: .25rem;
}

.pt-2 {
  padding-top: .5rem;
}

.pt-3 {
  padding-top: .75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pt-12 {
  padding-top: 3rem;
}

.pt-16 {
  padding-top: 4rem;
}

.pb-1 {
  padding-bottom: .25rem;
}

.pb-2 {
  padding-bottom: .5rem;
}

.pb-3 {
  padding-bottom: .75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pb-16 {
  padding-bottom: 4rem;
}

.pl-1 {
  padding-right: .25rem;
}

.pl-2 {
  padding-right: .5rem;
}

.pl-3 {
  padding-right: .75rem;
}

.pl-4 {
  padding-right: 1rem;
}

.pl-5 {
  padding-right: 1.25rem;
}

.pl-6 {
  padding-right: 1.5rem;
}

.pl-7 {
  padding-right: 1.75rem;
}

.pl-8 {
  padding-right: 2rem;
}

.pl-12 {
  padding-right: 3rem;
}

.pl-16 {
  padding-right: 4rem;
}

.pr-1 {
  padding-left: .25rem;
}

.pr-2 {
  padding-left: .5rem;
}

.pr-3 {
  padding-left: .75rem;
}

.pr-4 {
  padding-left: 1rem;
}

.pr-5 {
  padding-left: 1.25rem;
}

.pr-6 {
  padding-left: 1.5rem;
}

.pr-7 {
  padding-left: 1.75rem;
}

.pr-8 {
  padding-left: 2rem;
}

.pr-12 {
  padding-left: 3rem;
}

.pr-16 {
  padding-left: 4rem;
}

.box-shadow,
.cards .card:hover {
  -webkit-box-shadow: 0px 10px 13px -7px rgba(50, 50, 50, 0.7);
          box-shadow: 0px 10px 13px -7px rgba(50, 50, 50, 0.7);
}

.box-shadow--far,
.dropdown__menu,
.modal__content {
  -webkit-box-shadow: 0px 15px 13px -7px rgba(50, 50, 50, 0.7);
          box-shadow: 0px 15px 13px -7px rgba(50, 50, 50, 0.7);
}

.box-shadow--close,
.cards .card {
  -webkit-box-shadow: 0px 5px 13px -7px rgba(50, 50, 50, 0.7);
          box-shadow: 0px 5px 13px -7px rgba(50, 50, 50, 0.7);
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  line-height: 1.2rem;
}

h2 {
  font-size: 1.6rem;
  line-height: 1.2rem;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

h4 {
  font-size: 1.1rem;
  line-height: 1.4rem;
}

h5 {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.4rem;
  text-transform: uppercase;
}

p {
  line-height: 1.4rem;
}

p + p {
  margin-top: 1rem;
}

.alert {
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 2rem;
  padding: 1rem;
}

.alert li + li {
  margin-top: 1rem;
}

.alert--danger {
  background: #fed5ca;
  border: 1px solid #FC4A1A;
}

.avatar,
.avatar--sm,
.avatar--xs {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.avatar--sm {
  height: 30px;
  width: 30px;
}

.avatar--xs {
  height: 20px;
  width: 20px;
}

.button,
.button--dark {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #4fcabb;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  padding: .5rem .75rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.button img,
.button--dark img,
.button .material-icons,
.button--dark .material-icons {
  margin-left: .5rem;
}

.button:hover,
.button--dark:hover {
  background: #62d0c2;
}

.button--small {
  font-size: .9rem;
  padding: .4rem .6rem;
}

.button--dark {
  background: #2c4a74;
}

.button--dark:hover {
  background: #335687;
}

.cards {
  padding: 1rem;
}

.cards .card {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 1rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.cards .card svg {
  height: 12px;
  width: 12px;
}

.cards .card .active {
  fill: red;
}

.dropdown {
  position: relative;
}

.dropdown__label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.dropdown__label img,
.dropdown__label .material-icons {
  margin-left: .5rem;
}

.dropdown__label:hover {
  background: rgba(255, 255, 255, 0.1);
}

.dropdown__label::after {
  content: 'arrow_drop_down';
  font-family: 'Material Icons';
}

.dropdown__menu {
  background: #FFFFFF;
  border: 1px solid #dddddd;
  border-radius: 3px;
  position: absolute;
  top: 4.25rem;
  left: 0;
  z-index: 9999;
}

.dropdown__menu-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .75rem 1.25rem;
  width: 200px;
}

.dropdown__menu-item:hover {
  text-decoration: none;
}

.dropdown__menu-item img,
.dropdown__menu-item .material-icons {
  margin-left: .5rem;
}

.dropdown__menu-item + .dropdown__menu-item {
  border-top: 1px solid #dddddd;
}

.form__group label {
  color: #666666;
  display: block;
  margin-bottom: .5rem;
  text-transform: uppercase;
}

.form__group input,
.form__group textarea {
  border: 1px solid #dddddd;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  padding: .25rem .5rem;
  width: 100%;
}

.form__group + .form__group {
  margin: 2rem 0;
}

.app-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #222222;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2rem;
}

.app-header__logo {
  color: #FFFFFF;
  font-size: 1.6rem;
  letter-spacing: 1px;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.app-header__logo:hover {
  color: #4fcabb;
}

.app-header__menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.list a.list__item:hover {
  background: #f7f7f7;
}

.list__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 2rem;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.list__item img,
.list__item .material-icons {
  margin-left: .5rem;
}

.list__item + .list__item {
  border-top: 1px solid #dddddd;
}

.list__item--new {
  position: relative;
}

.list__item--new::before {
  content: '';
  height: 10px;
  width: 10px;
  display: block;
  background: #4fcabb;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: .75rem;
}

.list__item-tools {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.list__item-tools img,
.list__item-tools .material-icons {
  margin-right: 1rem;
}

.modal {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9998;
}

.modal__content {
  background: #FFFFFF;
  max-width: 800px;
  position: relative;
  width: 90%;
  z-index: 1;
}

.modal__header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #416dac;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

.modal__header .button,
.modal__header .button--dark {
  margin-right: auto;
}

.modal__body {
  color: #222222;
  padding: 2rem;
}

.modal__overlay {
  background: rgba(24, 79, 72, 0.5);
  height: 100vh;
  right: 0;
  top: 0;
  position: fixed;
  width: 100vw;
}

.widget {
  -webkit-box-shadow: 0px 10px 13px -7px #222222;
          box-shadow: 0px 10px 13px -7px #222222;
}

.widget + .widget {
  margin-top: 3rem;
}

.widget__header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #416dac;
  border-radius: 3px 3px 0 0;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 2rem;
}

.widget__header-actions {
  margin-right: auto;
}

.widget__title {
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.widget__nav {
  background: #2c4a74;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
}

.widget__nav a {
  color: #FFFFFF;
  padding: 1rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.widget__nav a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.widget__content {
  background: #FFFFFF;
  border-radius: 0 0 3px 3px;
}

body {
  background: linear-gradient(-45deg, #416dac, #4fcabb);
  min-height: 100vh;
}

main {
  padding: 3rem 2rem;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards .card {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0 0 1rem;
}

.cards .card__footer {
  margin: auto 0 0;
  border-top: 1px solid #ccc;
}

.btn {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.d-flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.u-clickable {
  cursor: pointer;
}

.a-spin {
  -webkit-animation: spin 3s infinite linear;
          animation: spin 3s infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg) scale(1.5);
            transform: rotate(0deg) scale(1.5);
  }

  to {
    -webkit-transform: rotate(-360deg) scale(1.5);
            transform: rotate(-360deg) scale(1.5);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg) scale(1.5);
            transform: rotate(0deg) scale(1.5);
  }

  to {
    -webkit-transform: rotate(-360deg) scale(1.5);
            transform: rotate(-360deg) scale(1.5);
  }
}

@media screen and (min-width: 800px) {
  .cards .card {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    margin: 1% 0 1% 2%;
  }
}

@media screen and (min-width: 1024px) {
  .cards .card {
    -ms-flex-preferred-size: 31.33%;
        flex-basis: 31.33%;
  }
}

