@import 'utilities/main';
@import 'components/main';

body {
    background: linear-gradient(45deg, $secondary, $primary);
    min-height: 100vh;
}

main {
    padding: 2rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;

    .card {
        flex-basis: 100%;
        margin: 0 0 1rem;

        &__footer {
            margin: auto 0 0;
            border-top: 1px solid #ccc;
        }
    }
}

.btn {
    box-shadow: none;
}

.d-flex {
    display: flex;
    align-items: center;
}

.u-clickable {
    cursor: pointer;
}

.a-spin {
    animation: spin 3s infinite linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg) scale(1.5);
        }
    to {
        transform:rotate(360deg) scale(1.5);
        }
}


@media screen and (min-width: 800px) {
    .cards .card {
        flex-basis: 48%;
        margin: 1% 2% 1% 0;
    }
}

@media screen and (min-width: 1024px) {
    .cards .card {
        flex-basis: 31.33%;
    }
}
